body, html{
	height: 100%;
}

body#login-bg{
	background:linear-gradient(#303030, #838181, #303030); 
}

.img-logo-branco{
	max-width: 110px;
	margin-bottom: 25px;
}

.super-centro {
	border-radius: 12px;
	background-color: #5d5c5c;
	max-width:500px;
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-200px;
	margin-left:-250px;
	text-align: center;
	padding: 35px;
	-webkit-box-shadow: 0px 0px 50px 0px rgba(255, 255, 255, 0.75);
	-moz-box-shadow: 0px 0px 50px 0px rgba(255, 255, 255, 0.75);
	box-shadow: 0px 0px 50px 0px rgba(255, 255, 255, 0.75);

}

.botao-logar{
	background-color: rgb(62,62,62);
	border-color: rgb(62,62,62);
	color: white;
}

.resposta-erro{
	color:#ff0000;
	
}

.div-botoes{
	margin-bottom:16px;
}
.jconfirm-box{
	margin-top: 200px !important;
}
.jconfirm-box-container{
	margin: 0 auto;
}
.btn-arquivo{
	
	margin-top: 15px;
}
