.img-banco{
	width: 200px;
	height: 100px;
}
.center{
	text-align: center;
}

*{
	margin: 0;
	padding: 0;
}

body#login-bg{
	background: url(../imagens/login/login_bg.jpg) no-repeat top center;
}
img#logo-login{
	width:150px;
	height:72px;
}

.super-centro {
	background: url(../imagens/login/loginbox_bg.png) no-repeat;
	width:500px;
	height:300px;
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-200px;
	margin-left:-250px;
	text-align: center;
	padding: 35px;
}

.form-signin {
  max-width: 400px;
  padding: 15px;
  margin: 0 auto;
}

.botao-logar{
	background-color: rgb(62,62,62);
	border-color: rgb(62,62,62);
	color: white;
}

div#page-top-outer	{
	background: rgb(62,62,62);
	border-bottom: 1px solid #7e7e7e;
	height: 92px;
	
}

img#img-logo{
	width: 70px;
	margin-top: -7px;
}	

img#icon-sair{
	width: 64px;
	height: 14px;
}
nav ul{
	color: white;
}
.navbar{
	background: rgb(79,79,79);
	border-radius: 0px;
	border: none;
}
body, html{
	height: 100%;
}
div#conteudo{
	min-height: 500px;
 	z-index: -1; /* hide shadow behind image */
    -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    padding: 40px;
}

div h3{
	margin-top: 30px;
	text-indent: 40px;
}

.footer {
	color: #818181;
	text-align: center;
    padding: 25px 0 25px 0px;
    margin-bottom:20px;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
	font-weight: bold;

}


.dropbtn {
    background-color: rgb(79,79,79);;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    min-width: 160px;
}


.dropdown {
    position: relative;
    display: inline-block;
	min-width: 160px;
	text-align: center;
}


.dropdown-content {
    display: none;
	text-align: left;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}



.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {
	background-color: #f1f1f1;
}


.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgb(62,62,62);
}

a#link-home{
	color: white;
}

a#link-home:hover{
	background-color: rgb(62,62,62);
}

a#link-logout{
	color: white;
}

a#link-logout:hover{
	text-decoration:none;
}

.collapse.in{
	display: flex;
}

h1#admin{
	padding-bottom: 20px;
}

.options-edit{
	font-size: 22px;
	margin: 10px;
	color: rgba(128, 100, 60, 1);
}
.options-delet{
	font-size: 22px;
	margin: 10px;
	color: rgba(128, 30, 30, 1);
}

/*cadastro de banners*/

.botao-grupo{
	text-align: center;
}

.botao-form{
	margin: 20px;
	width: 200px
}

.btn-file{
	background-color: rgb(150,150,150);
	border-color: rgb(62,62,62);
	width: 300px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	font-weight: bold;
}

.edicao-banner{
	text-align: center;		
}

img.img-foto{
	margin: 10px auto 10px auto;
	max-height: 200px;
}

#login_administrador{
	text-transform: lowercase;
}
.item-menu{
	margin: 5px;
	padding: 40px 15px;
	text-align: center;
	max-height: 122px;
}

.lista-table{
	margin-top: 70px;
	width: 100%;
}
